#
# APP
#
NODE_ENV=development
PORT=3001
HOST=localhost

#
# DATABASE
#
DB_CONNECTION_STRING=[db_client]://[db_username]:[db_user_password]@localhost:[db_port]/[db_name]
DB_DIALECT=pg
DB_POOL_MIN=2
DB_POOL_MAX=10

#
# AWS
#
AWS_REGION=[aws_region]
AWS_ACCESS_KEY_ID=[aws_access_key_id]
AWS_SECRET_ACCESS_KEY=[aws_secret_access_key]
AWS_SESSION_TOKEN=[aws_session_token_if_required]
AWS_S3_BUCKET_NAME=[aws_s3_bucket_name]
